# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Unused/Unnecessary files
.env
*.sqlite
*.bak
*.tmp
coverage/
*.DS_Store
*.swp


